<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StockTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="constr" connectionString="Server=localhost;Database=stocktrack;User Id=sa;Password=Windows8" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <StockTrack.Properties.Settings>
      <setting name="mwXpos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mwYpos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mwWidth" serializeAs="String">
        <value>870</value>
      </setting>
      <setting name="miniXpos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="miniYpos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="miniWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="miniHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="mwHeight" serializeAs="String">
        <value>660</value>
      </setting>
      <setting name="miniTopmost" serializeAs="String">
        <value>True</value>
      </setting>
    </StockTrack.Properties.Settings>
  </userSettings>
</configuration>
